
@font-face {
  font-family: 'MayanSquare';
  src: url('MayanSquare.eot?#iefix') format('embedded-opentype'),  url('MayanSquare.woff') format('woff'), url('MayanSquare.ttf')  format('truetype'), url('MayanSquare.svg#MayanSquare') format('svg');
  font-weight: normal;
  font-style: normal;
}
